@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
}

.toast-style {
  --toastify-color-success: #0DCA70;
  --toastify-color-error: #e74c3c;
  --toastify-toast-width: 300px;
  --toastify-toast-min-height: 50px;
}